

<div class="container">
  <div class="row">
    <div class="col-sm-6">

<!--       <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTSSREjcK0-vYrZB9lrb9QQF1p9lvTf9cIdwh9NngYeUuAErHvpYX8Xwe3sYF0r-h6CXgv96gMevNtt/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
      <%= @slide.iframe.html_safe %>
      <div class="comments">
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <script>
    document.querySelector('.comments').style.height = (document.querySelector('iframe').offsetHeight - 30) + "px"
    document.querySelector('.comments').style.width = document.querySelector('iframe').offsetWidth + "px"
    let height = document.querySelector('.comments').offsetHeight
    let width = document.querySelector('.comments').offsetWidth
    // let width = document.querySelector('.comments').offsetHeight
    let num=new Array();
    let temp = 0;

    for(var i = 0; i < height / 20 - 1; i++){
      num.splice(i,0,i);
    }
    App['slide_<%= @slide.id %>'] = App.cable.subscriptions.create(
      { channel: 'SlidesChannel', slide_id: <%= @slide.id %> },
      { received: (data) => {

        const commentContainer = document.querySelector('.comments');
        temp = Math.round(Math.random()*(num.length-1));
        let node = document.createElement("div");
        node.className = "comment-relative";
        node.innerHTML = data.comment;
        // commentContainer.insertAdjacentHTML('afterbegin', data.comment_partial);
        node.style.marginTop = num[temp]*20 + "px";
        node.style.position = "absolute";
        console.log(111, data.color)
        node.style.color = data.color;
        commentContainer.appendChild(node);
      }
    })

    window.onload = function(){

      timer=setInterval(move,100);
    }
    let iframe = document.querySelector('iframe');
    document.addEventListener("webkitfullscreenchange", (event) => {
      document.querySelector('.comments').style.height = (document.querySelector('iframe').offsetHeight - 30) + "px";
      document.querySelector('.comments').style.width = document.querySelector('iframe').offsetWidth + "px";
      let height = document.querySelector('.comments').offsetHeight;
      let width = document.querySelector('.comments').offsetWidth;
      for(var i = 0; i < height / 20 - 1; i++){
        num.splice(i,0,i);
      }
    });
    function move(){
      let nodeList = document.querySelectorAll('.comment-relative');
      let parentNode = document.querySelector('.comments')
      if( nodeList.length > 0 ){
        for (let i = 0; i < nodeList.length; i++){
          distance = nodeList[i].offsetLeft + 3;
          nodeList[i].style.marginLeft = distance + "px";
          if (distance > 950)
            parentNode.removeChild(nodeList[i]);
        }
      }

    }
    function random(m,n){//随机在m、n之间的整数
      return Math.round(Math.random()*(n - m)) + m;
    }

  </script>
<% end %>

