<div class="comment-filter" data-comment-id=<%= comment.id %>>
  <p><%= comment.content %></p>
<!--   <%= button_to "Approve",  slide_comment_path(slide, comment), params: { approved: true }, action: :update, method: :put, remote: :true %>
  <%= button_to "Reject", slide_comment_path(slide, comment), method: :delete, action: :destroy, remote: :true %> -->
  <br>
</div>
