<div id="create-message">
  <%= render 'comments/form', slide: @slide, comment: Comment.new %>
</div>
<div class="comments-show">
  <% @comments.each do |comment| %>
    <% if comment.approved == false %>
      <%= render 'comments/show', comment: comment, slide: @slide %>
    <% end %>
  <% end %>
</div>
