<style type="text/css">
  @media (max-width: 1024px) {
    .comment-page {
      height: 84vh;
    }
  }
</style>

<div class="comment-page">
  <div id="create-message" class="create-message">
    <%= render 'comments/form', slide: @slide, comment: Comment.new %>
  </div>
  <div class="create-rocket">
    <%= render 'comments/rocket' %>
  </div>
</div>
<script>

const form = document.getElementById('new_comment')
form.addEventListener('submit', function(event){
  // const newCommentForm = document.getElementById('create-message');
  // newCommentForm.innerHTML = '<%#= j render "comments/form", slide: @slide, comment: Comment.new %>';
  setTimeout(() => {
    const commentInput = document.getElementById('comment_content')
    commentInput.value = ''
    document.querySelector('select').selectedIndex = 7
  }, 0)
});

document.getElementById("submit-btn").addEventListener('click', function(event) {
  const rocket = document.getElementById('rocket')
  rocket.classList.remove("rocket-station")
  rocket.classList.add("rocket-shoot")
  setTimeout(() => {
    rocket.classList.add("rocket-station")
    rocket.classList.remove("rocket-shoot")
  }, 3500)
});
</script>


