.comments {
  top: 3px;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;

  line-height: 25px;
  // border: 2px solid yellow;
  // margin: 50px auto 20px;
  overflow: hidden;
  position: absolute;
  left: 11px;
}

.comment-relative {
  position: relative;
}
