
.comments {
  top: 3px;
  color: yellow;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
  width: 950px;
  height: 510px;
  line-height: 25px;
  border: 2px solid black;
  margin: 50px auto 20px;
  overflow: hidden;
  position: absolute;
}
