<style type="text/css">
  #footer {
    background-color: #E2647D;
    height: 35vh;
    padding: 20px;
  }
  table {
    margin-top: 20px;
  }
  #footer h1 {
    text-align: center;
    font-family: Comic Sans MS;
    font-weight: bolder;
    color: white;
  }
  #footer td {
    font-size: 14px;
    color: white;
    border-left: none;
  }
  #footer th td{
    padding: 0 50px 0 0;
  }
  #footer td {
    padding-top: 1vh;
    width: 50%;
  }
  #footer th {
    padding-bottom: 2vh;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  #footer table {
    min-width: 40vw;
  }
  #footer td {
    margin-left: 10px;
  }
  @media screen and (max-width: 992px) {
    #footer td {
      font-size: 12px;
    }
  }
</style>

<div id="footer">
  <div class="row">
    <div class="col-sm-6 col-xs-12"><h1>Danmu</h1></div>
    <div class="col-sm-offset-0 col-sm-6 col-xs-offset-2 col-xs-8">
      <table>
        <tr>
          <th>Follow</th>
          <th>About Us</th>
        </tr>
        <tr>
          <td style="border-top: 1px solid white;">Facebook</td>
          <td style="border-top: 1px solid white;">XG the MVC</td>
        </tr>
        <tr>
          <td>Twitter</td>
          <td>Thomas the Inspector</td>
        </tr>
        <tr>
          <td>Instagram</td>
          <td>Rich's Front End</td>
        </tr>
        <tr>
          <td></td>
          <td>Privacy</td>
        </tr>
      </table>
    </div>
  </div>
</div>

