<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
  body {
    min-height: 100vh;
  }
  .image {
    width: 101vw;
    height: 20vh;
  }
  .bd {
    height: 100vh;
    width: 101vw;
  }
  .bd-one {
    background-color: white;
  }
  .bd-two {
    background-color: #eee;
  }
  .bd-three {
    background-color: white;
  }
  .landing {
    padding-top: 20vh;
    height: 100vh;
  }
  .main-container {
    height: 400px;
    background-color: white;
  }
  .text-container {
    line-height: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .text-content {
    font-size: 16px;
    font-weight: 100;
    color: white;
  }
  @media screen and (max-width: 576px) {
    .sign-up-button {
      display: none;
    }
  }
  @media screen and (min-width: 992px) {
    .text-container {
      margin-top: 15vh;
    }
  }
  @media screen and (min-width: 992px) {
    .text-title {
      font-size: 36px;
      font-weight: bold;
      color: white;
      font-family: Georgia, serif;
    }
  }
  @media screen and (max-width: 576px) {
    .text-content {
      font-size: 14px;
      color: white;
    }
  }
  @media screen and (max-width: 992px) {
    .text-title {
      font-size: 28px;
      font-weight: bold;
      color: white;
      font-family: Georgia, serif;
    }
  }
  @media screen and (max-width: 992px) {
    .main-container {
      height: 200px;
      background-color: white;
    }
  }
  .buttons {
    position: relative;
    top: 20px;
  }
  .sign-up-button {
    border-radius: 5px !important;
    margin-right: 10px;
    color: #444;
    font-weight: 600;
    background-color: #F9F9F9;
  }
  .sign-up-button:hover {
    border-radius: 5px !important;
    color: #111;
    background-color: white;
  }
  .upload-btn {
    border-radius: 5px !important;
    background-color: #E994A5;
    border: none;
    color: #eee;
  }
  .upload-btn:hover {
    background-color: #EFA9B6;
    color: white;
  }
  @media screen and (min-width: 992px) {
    .pattern {
      width:101vw;
      height: 26vh;
    }
  }
  @media screen and (max-width: 992px) {
    .pattern {
      width:101vw;
      height: 36vh;
    }
  }
</style>
<div class="landing">
  <div class="row">
    <div class="col-md-offset-1 col-md-5 col-xs-offset-2 col-xs-8">
      <div class="main-container"></div>
    </div>
    <div class="col-md-5 col-md-offset-0 col-xs-offset-2 col-xs-8">
      <div class="text-container">
        <div class="text-title">
          Danmu On Slides
        </div>
        <div class="text-content">
          Engage your audience with a new media
        </div>
      <div class="buttons">
        <button type="button" class="sign-up-button btn-lg">Sign up now</button>
        <button type="button" class="upload-btn btn-lg">Upload Slides</button>
      </div>
      </div>
    </div>
  </div>
  <%= image_tag("pattern", {:class => "pattern"}) %>
</div>
<div class="bd-one bd">
  This is Body One
</div>
<div class="bd-two bd">
  The is Body Two
</div>
<div class="bd-three bd">
  This is Body Three
</div>
