<html class="home index"><style type="text/css" id="night-mode-pro-style"></style><link type="text/css" rel="stylesheet" id="night-mode-pro-link"><head>

    <title>Danmu – Engage your audience</title>
    <meta name="description" content="Danmu is cool">



    <link rel="stylesheet" media="all" href="//assets.slid.es/assets/slides/slides-c6589daceaee3233280d83ec6d641c11d6f37071e10f2983d28ba50cbf7c3bc2.css">
    <link rel="stylesheet" media="all" href="//assets.slid.es/assets/application-647ef91b068b1c7ffdd90359cecbc27dbd3507c491afe0a20fd05f405ae9df0c.css">

</head>

  <body data-gr-c-s-loaded="true" cz-shortcut-listen="true">



      <div id="main" class="main " role="main">



<div class="marquee intro">

  <div class="marquee-background">
    <svg width="1000" viewBox="0 0 1000 500" preserveAspectRatio="none">
      <rect width="1000" height="400" x="0" y="0" fill="#E2647D"></rect>
      <path class="path-1" d="M0,400 L 1000,400 1000,480 S 500,420 0,480 Z" fill="#9E5A63"></path>
      <path class="path-2" d="M0,400 L 1000,400 1000,445 S 500,420 0,480 Z" fill="#644E5B"></path>
      <path class="path-3" d="M0,399 L 1000,399 1000,400 S 500,420 0,480 Z" fill="#314455"></path>
    </svg>
  </div>
  <div class="marquee-inner">

    <div class="description">
      <h2 class="description-title">Danmu On Slides!</h2>
      <h3 class="description-subtitle">Engage your audience.</h3>

      <a class="button xxl description-cta" href="/daili-1/new" rollapp-href="https://slides.com/daili-1/new">Upload your Slides</a>
      <a href="#features" class="button white xxl description-cta-secondary" data-scroll-to-offset="0" data-scroll-to="" data-scroll-to-duration="500" rollapp-href="https://slides.com/#features">Learn more</a>
    </div>

    <div class="demo">
      <div class="demo-spinner">
        <div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>

</div>
      </div>
      <div class="demo-content">
        <div class="browser loaded">
          <div class="browser-header">
            <div class="browser-header-dot"></div>
            <div class="browser-header-dot"></div>
            <div class="browser-header-dot"></div>
          </div>
          <div class="browser-content">
            <div class="browser-deck reveal-viewport theme-font-opensans">
              <div class="reveal slide center has-horizontal-slides ready has-light-background" role="application" data-transition-speed="default" data-background-transition="fade">
                <div class="slides" style="width: 700px; height: 438px; left: 50%; top: 50%; bottom: auto; right: auto; transform: translate(-50%, -50%) scale(0.6);">
                  <section class="gradient-background past" style="top: 0px; display: block;" hidden="" aria-hidden="true"><div class="float-animation"></div>
<div class=""></div>



                </section></div>

                </div><canvas class="playback" width="100" height="100" style="width: 50px; height: 50px;"></canvas></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <a class="scroll-promotion hidden" href="#features" data-scroll-to="" data-scroll-to-duration="500" rollapp-href="https://slides.com/#features">
    <div class="scroll-promotion-arrow">
      <i class="line line-1"></i>
      <i class="line line-2"></i>
    </div>
  </a>
</div>






      </div>
   </div> <!--! end of #container -->


    <script src="//assets.slid.es/assets/application-826636dae3f849fa51e9bb2cf92de5456f39afde0d87c1dfd5e3ddc2f22a58d7.js" defer="defer"></script>
      <script src="//assets.slid.es/assets/deck-deefa6098b4c5f524711117d9537aa8119769409582f8fcfd03ccbd99d6ea5e9.js" defer="defer"></script>



</body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span></html>

