<html class="sl-root home index mz-history mz-svg mz-localstorage mz-csspositionsticky mz-supports mz-cssanimations mz-backgroundsize mz-no-cssgridlegacy mz-cssgrid mz-flexbox mz-csstransforms mz-csstransforms3d mz-csstransitions mz-fullscreen mz-webpanimation gr__slides_com loaded ua-mac ua-chrome fonts-are-ready" data-account="default"><style type="text/css" id="night-mode-pro-style"></style><link type="text/css" rel="stylesheet" id="night-mode-pro-link"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Slides – Create and share presentations online</title>
    <meta name="description" content="Slides is a place for creating, presenting and sharing presentations. The Slides editor is available right in your browser. Unlike traditional presentation software, like PowerPoint, there's no need to download anything.">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta property="og:title" content="Slides – Create and share presentations online">
    <meta property="og:description" content="Slides is a place for creating, presenting and sharing presentations. The Slides editor is available right in your browser. Unlike traditional presentation software, like PowerPoint, there's no need to download anything.">
    <meta property="og:site_name" content="Slides">
    <meta property="og:image" content="https://static.slid.es/logo/slides-logo-495x479.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://slides.com/">
    <meta property="fb:app_id" content="146002942236376">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="manifest" href="/manifest.json">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic" rel="stylesheet" type="text/css" data-application-font="opensans">

    <link rel="stylesheet" media="all" href="//assets.slid.es/assets/slides/slides-c6589daceaee3233280d83ec6d641c11d6f37071e10f2983d28ba50cbf7c3bc2.css">
    <link rel="stylesheet" media="all" href="//assets.slid.es/assets/application-647ef91b068b1c7ffdd90359cecbc27dbd3507c491afe0a20fd05f405ae9df0c.css">

    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="p8gSYEHLQCNyAosQLzN10P2UrixhTpWCB2ZxOvUPOqRnG40pHeKt+/XpJfMXb2YTdTOWM7Gr1jhBe97SgxCgcw==">
    <script type="application/javascript" async="" defer="" src="https://by2.uservoice.com/t2/147810/web/7kYckRMG5VCqGMAN/track.js?_=1533529985952&amp;s=0&amp;c=__uvSessionData0&amp;d=eyJ1Ijp7ImVtYWlsIjoiamltczg5ODFAZ21haWwuY29tIiwibmFtZSI6IkRhaSBMaSIsImlkIjoiOTA2Mzg3IiwidHlwZSI6ImRlZmF1bHQiLCJjcmVhdGVkX2F0IjoxNTMxNzI1NzUyMDAwLCJvIjotNDgwfSwiZSI6eyJ1IjoiaHR0cHM6Ly9zbGlkZXMuY29tLyIsInIiOiIifX0%3D"></script><script type="text/javascript" async="" src="//widget.uservoice.com/f7sH7NavrjjvuGxByaw.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript">
  if( !/dnt=1/.test( window.location.search ) ) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39670045-1', 'auto');
    ga('send', 'pageview');

  }
</script>
    <!--[if lt IE 9]>
    <script src="//assets.slid.es/assets/html5shiv-0bfa553ebc9c42abf66248f2f3feba0935da70b430bace410f80b72729c14820.js"></script>
<![endif]-->
      <meta name="google-site-verification" content="YfMESTlL7SyDvG0C9wrSlVbTgX9k98LQqj0UvvliCB8">
  <meta name="google-site-verification" content="ZDJwuX_CP9lIth9THnv6qBJSGq_j4q9hJjgQ92mGVQw">
  <meta name="wot-verification" content="00c06bb071cd7f2c0a78">
  <meta name="yandex-verification" content="6f48f48f1baa3ab1">

  <link rel="prerender" href="http://slides.dev/pricing">
  <link rel="stylesheet" media="all" href="//assets.slid.es/assets/deck-v2-f7e270a4816d07a3455ccb23881fafb4644f38ebe48a11cf0a70dc11962c130e.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"></head>
  <body data-gr-c-s-loaded="true" cz-shortcut-listen="true">



      <div id="main" class="main " role="main">



<div class="marquee intro">

  <div class="marquee-background">
    <svg width="1000" viewBox="0 0 1000 500" preserveAspectRatio="none">
      <rect width="1000" height="400" x="0" y="0" fill="#E2647D"></rect>
      <path class="path-1" d="M0,400 L 1000,400 1000,480 S 500,420 0,480 Z" fill="#9E5A63"></path>
      <path class="path-2" d="M0,400 L 1000,400 1000,445 S 500,420 0,480 Z" fill="#644E5B"></path>
      <path class="path-3" d="M0,399 L 1000,399 1000,400 S 500,420 0,480 Z" fill="#314455"></path>
    </svg>
  </div>
  <div class="marquee-inner">

    <div class="description">
      <h2 class="description-title">Danmu On Slides!</h2>
      <h3 class="description-subtitle">Engage your audience.</h3>

      <a class="button xxl description-cta" href="/daili-1/new" rollapp-href="https://slides.com/daili-1/new">Upload your Slides</a>
      <a href="#features" class="button white xxl description-cta-secondary" data-scroll-to-offset="0" data-scroll-to="" data-scroll-to-duration="500" rollapp-href="https://slides.com/#features">Learn more</a>
    </div>

    <div class="demo">
      <div class="demo-spinner">
        <div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
      </div>
      <div class="demo-content">
        <div class="browser loaded">
          <div class="browser-header">
            <div class="browser-header-dot"></div>
            <div class="browser-header-dot"></div>
            <div class="browser-header-dot"></div>
          </div>
          <div class="browser-content">
            <div class="browser-deck reveal-viewport theme-font-opensans">
              <div class="reveal slide center has-horizontal-slides ready has-light-background" role="application" data-transition-speed="default" data-background-transition="fade">
                <div class="slides" style="width: 700px; height: 438px; left: 50%; top: 50%; bottom: auto; right: auto; transform: translate(-50%, -50%) scale(0.6);">
                  <section class="gradient-background past" style="top: 0px; display: block;" hidden="" aria-hidden="true"><div class="float-animation"></div>
<div class=""></div>



                </section></div>

                </div><canvas class="playback" width="100" height="100" style="width: 50px; height: 50px;"></canvas></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <a class="scroll-promotion hidden" href="#features" data-scroll-to="" data-scroll-to-duration="500" rollapp-href="https://slides.com/#features">
    <div class="scroll-promotion-arrow">
      <i class="line line-1"></i>
      <i class="line line-2"></i>
    </div>
  </a>
</div>

<article id="features" class="features">

  <section class="feature loaded">
    <svg class="feature-edge" viewBox="0 0 1000 40" height="40" preserveAspectRatio="none">
      <path d="M0,0 L 1000,0 S 500,0 0,40"></path>
    </svg>
    <div class="feature-inner">
      <div class="feature-content">
        <div class="feature-content-inner">
          <h3>Danmu makes it fun</h3>
          <p>Our core feature is a real-time commentary subtitle system that displays user comments as streams of moving subtitles overlaid on the video playback screen, visually resembling a danmaku shooter game. </p>
        </div>
      </div>
      <figure class="feature-media">
        <div class="feature-media-spinner">
          <div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
        </div>
        <video loop="" muted="" playsinline="" width="1440" height="900" data-poster="https://static.slid.es/site/homepage/v3/homepage-editor-poster.png" poster="https://static.slid.es/site/homepage/v3/homepage-editor-poster.png"><source src="https://static.slid.es/site/homepage/v3/homepage-editor-1440x900.mp4" type="video/mp4"></video>
      </figure>
    </div>
  </section>

  <section class="feature loaded">
    <svg class="feature-edge" viewBox="0 0 1000 30" height="30" preserveAspectRatio="none">
      <path d="M0,0 L 1000,0 1000,30 S 500,30 0,0"></path>
    </svg>
    <div class="feature-inner">
      <div class="feature-content">
        <div class="feature-content-inner">
          <h3>Lighten up your crowd</h3>
          <p>Such subtitles are simultaneously broadcast to all viewers in real-time, creating a chat room experience in which users feel like watching and playing together with others. This system offers users various subtitle controls, including style, format, and movement.</p>
        </div>
      </div>
      <figure class="feature-media">
        <div class="feature-media-spinner">
          <div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
        </div>
        <video loop="" muted="" playsinline="" width="1280" height="720" data-poster="https://static.slid.es/site/homepage/v3/homepage-present-poster.jpg" poster="https://static.slid.es/site/homepage/v3/homepage-present-poster.jpg"><source src="https://static.slid.es/site/homepage/v3/homepage-present-1280x720.mp4?2" type="video/mp4"></video>
      </figure>
    </div>
  </section>

  <section class="feature loaded">
    <svg class="feature-edge" viewBox="0 0 1000 20" height="20" preserveAspectRatio="none">
      <path d="M0,0 L 1000,0 1000,20 S 500,20 0,0"></path>
    </svg>
    <div class="feature-inner">
      <div class="feature-content">
        <div class="feature-content-inner" style="max-width: 635px;">
          <h3>Audience participation</h3>
          <p>The site also offers a feature called "advanced subtitles", where users can use ECMAScript-based API to control video playback, dynamically change danmu subtitles and draw shapes onto the screen.This functionality is only available with the video poster's permission.</p>
          <a class="button positive" href="/pricing?highlight=team" rollapp-href="https://slides.com/pricing?highlight=team">Sign up</a>
        </div>
      </div>
      <figure class="feature-media">
        <div class="feature-media-spinner">
          <div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
        </div>
        <video loop="" muted="" playsinline="" width="1280" height="800" data-poster="https://static.slid.es/site/homepage/v3/homepage-team-poster.jpg" poster="https://static.slid.es/site/homepage/v3/homepage-team-poster.jpg"><source src="https://static.slid.es/site/homepage/v3/homepage-team-1280x800.mp4?2" type="video/mp4"></video>
      </figure>
    </div>
  </section>

</article>

      </div>
      <footer class="global-footer">
    <div class="link-group">
      <h5>Tour</h5>
      <a href="https://slides.com/?root=true" rollapp-href="https://slides.com/?root=true">Home</a>
      <a href="https://slides.com/explore?root=true" rollapp-href="https://slides.com/explore?root=true">Explore Decks</a>
      <a href="https://slides.com/features?root=true" rollapp-href="https://slides.com/features?root=true">Features</a>
      <a href="https://slides.com/pricing?root=true" rollapp-href="https://slides.com/pricing?root=true">Pricing</a>
      <a href="https://slides.com/developers?root=true" rollapp-href="https://slides.com/developers?root=true">For Developers</a>
    </div>

    <div class="link-group">
      <h5>Help</h5>
      <a href="http://help.slides.com" target="_blank" rollapp-href="http://help.slides.com/">Forum</a>
      <a href="http://help.slides.com/knowledgebase" target="_blank" rollapp-href="http://help.slides.com/knowledgebase">Knowledge Base</a>
      <a href="http://help.slides.com" data-feedback-mode="smartvote" rollapp-href="http://help.slides.com/">Leave Feedback</a>
      <a href="http://help.slides.com" data-feedback-mode="contact" rollapp-href="http://help.slides.com/">Report an Issue</a>
    </div>

    <div class="link-group">
      <h5>Follow</h5>
      <a href="https://slides.com/news/" target="_blank" rollapp-href="https://slides.com/news/">News</a>
      <a href="http://blog.slides.com" target="_blank" rollapp-href="http://blog.slides.com/">Blog</a>
      <a href="https://twitter.com/slides" target="_blank" rollapp-href="https://twitter.com/slides">Twitter</a>
      <a href="https://facebook.com/slidesapp" target="_blank" rollapp-href="https://facebook.com/slidesapp">Facebook</a>
    </div>

    <div class="link-group">
      <h5>Company</h5>
      <a href="https://slides.com/about?root=true" rollapp-href="https://slides.com/about?root=true">About Slides</a>
      <a href="https://slides.com/changelog?root=true" rollapp-href="https://slides.com/changelog?root=true">Changelog</a>
      <a href="https://slides.com/security?root=true" rollapp-href="https://slides.com/security?root=true">Security</a>
      <a href="https://slides.com/partners?root=true" rollapp-href="https://slides.com/partners?root=true">Partners</a>
    </div>

    <div class="legal">
      <a href="https://slides.com/terms?root=true" rollapp-href="https://slides.com/terms?root=true">Terms</a>
      • <a href="https://slides.com/privacy?root=true" rollapp-href="https://slides.com/privacy?root=true">Privacy</a>
      • <span class="copyright">© 2018 Slides, Inc.</span>
    </div>
</footer>

    </div> <!--! end of #container -->

<script>
  var SLConfig = {"current_user":{"id":906387,"username":"daili-1","name":"Dai Li","description":null,"thumbnail_url":"https://lh5.googleusercontent.com/-4mgZyME69Fc/AAAAAAAAAAI/AAAAAAAAB-8/9MCvZkBYcHg/photo.jpg","paid":false,"pro":false,"lite":false,"team_id":null,"settings":{"id":1595642,"present_controls":true,"present_upsizing":true,"present_pointer":false,"present_notes":true,"default_deck_tag_id":null,"editor_grid":true,"editor_snap":true,"editor_fixed_notes":false,"developer_mode":false,"speaker_layout":null,"phone_number":null,"phone_country_code":null,"media_sources":null,"export_controls":null,"export_slide_number":null,"export_slide_notes":null,"export_separate_fragments":null},"email":"jims8981@gmail.com","notify_on_receipt":true,"billing_address":null,"billing_vat_id":null,"editor_tutorial_completed":true,"manually_upgraded":false,"deck_user_editor_limit":1,"storage_used":565797,"storage_limit":262144000}};
</script>
    <script src="//assets.slid.es/assets/application-826636dae3f849fa51e9bb2cf92de5456f39afde0d87c1dfd5e3ddc2f22a58d7.js" defer="defer"></script>
      <script src="//assets.slid.es/assets/deck-deefa6098b4c5f524711117d9537aa8119769409582f8fcfd03ccbd99d6ea5e9.js" defer="defer"></script>



</body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span></html>

